<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Datos autor</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-icon name="desktop-outline"></ion-icon>
      <ion-label>Elena Cañizares</ion-label>
      <ion-label>Manzanares</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon [name]="PC"></ion-icon>
      <ion-label>Alba Sánchez-Migallón</ion-label>
      <ion-label>Leganés</ion-label>
    </ion-item>
  </ion-list>

  <ion-label>DESARROLLO DE APLICACIONES MULTIPLATAFORMA</ion-label>
  
  <ion-footer [translucent]="true">
    <ion-toolbar>
      <ion-icon name="logo-closed-captioning"></ion-icon>
      <ion-label>Creative Commons</ion-label>
    </ion-toolbar>
  </ion-footer>

</ion-content>
