<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fantasía</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-icon name="viento"></ion-icon>
      <ion-checkbox>El nombre del viento, Patrick Rotfuss</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="anillo"></ion-icon>
      <ion-checkbox>El señor de los anillos, Tolkien</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="naranja"></ion-icon>
      <ion-checkbox>El priorato del naranjo, Samantha Shannon</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="hada"></ion-icon>
      <ion-checkbox>Cuento de hadas, Stephen King</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="espada"></ion-icon>
      <ion-checkbox>Canción de hielo y fuego, George R.R. Martin</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="mago"></ion-icon>
      <ion-checkbox>Harry Potter, J.K. Rowlin</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="dragon"></ion-icon>
      <ion-checkbox>memorias de Idhun, Laura Gallego</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="magia"></ion-icon>
      <ion-checkbox>El imperio final, Brandon Sanderson</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-icon name="cuervo"></ion-icon>
      <ion-checkbox>Seis de cuervos, Leigh Bardugo</ion-checkbox>
    </ion-item>
  </ion-list>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
