

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Tab 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fantasía</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-avatar >
        <img  [src]="viento" />
      </ion-avatar>
      <ion-checkbox>El nombre del viento, Patrick Rotfuss</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar >
        <img  [src]="anillo" />
      </ion-avatar>
      <ion-checkbox>El señor de los anillos, Tolkien</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar >
        <img  [src]="naranja" />
      </ion-avatar>
      <ion-checkbox>El priorato del naranjo, Samantha Shannon</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar >
        <img  [src]="hada" />
      </ion-avatar>
      <ion-checkbox>Cuento de hadas, Stephen King</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar >
        <img  [src]="espada" />
      </ion-avatar>
      <ion-checkbox>Canción de hielo y fuego, George R.R. Martin</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar >
        <img  [src]="mago" />
      </ion-avatar>
      <ion-checkbox>Harry Potter, J.K. Rowlin</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar >
        <img  [src]="dragon" />
      </ion-avatar>
      <ion-checkbox>memorias de Idhun, Laura Gallego</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar >
        <img  [src]="magia" />
      </ion-avatar>
      <ion-checkbox>El imperio final, Brandon Sanderson</ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-avatar >
        <img  [src]="cuervo" />
      </ion-avatar>
      <ion-checkbox>Seis de cuervos, Leigh Bardugo</ion-checkbox>
    </ion-item>
  </ion-list>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
