/* Estilo para un botón aún más llamativo */
.super-boton {
    background: linear-gradient(135deg, #7f1f83, #f8f6fa); /* Fondo con degradado */
    color: #fff; /* Color del texto en el botón (blanco) */
    border: none; /* Sin borde */
    border-radius: 50px; /* Esquinas muy redondeadas para un botón circular */
    padding: 20px 40px; /* Espaciado interno */
    font-size: 24px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Texto en mayúsculas */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: background-color 0.3s ease; /* Transición de color suave al pasar el ratón */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
  }
  
  .super-boton:hover {
    background: linear-gradient(135deg, #dce1e2, #0dddba); /* Cambio de degradado al pasar el ratón */
  }

  /* Estilo para un botón aún más llamativo */
.super-boton2 {
    background: linear-gradient(135deg,  #e4e4df,#db9834); /* Fondo con degradado */
    color: #fff; /* Color del texto en el botón (blanco) */
    border: none; /* Sin borde */
    border-radius: 50px; /* Esquinas muy redondeadas para un botón circular */
    padding: 20px 40px; /* Espaciado interno */
    font-size: 24px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Texto en mayúsculas */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: background-color 0.3s ease; /* Transición de color suave al pasar el ratón */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
  }
  
  .super-boton2:hover {
    background: linear-gradient(135deg, #dce1e2, #0dddba); /* Cambio de degradado al pasar el ratón */
  }

  /* Estilo para un botón aún más llamativo */
.super-boton3 {
    background: linear-gradient(135deg, #343fdb, #dfe4e4); /* Fondo con degradado */
    color: #fff; /* Color del texto en el botón (blanco) */
    border: none; /* Sin borde */
    border-radius: 50px; /* Esquinas muy redondeadas para un botón circular */
    padding: 20px 40px; /* Espaciado interno */
    font-size: 24px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Texto en mayúsculas */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: background-color 0.3s ease; /* Transición de color suave al pasar el ratón */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
  }
  
  .super-boton3:hover {
    background: linear-gradient(135deg, #dce1e2, #0dddba); /* Cambio de degradado al pasar el ratón */
  }

  /* Estilo para un botón aún más llamativo */
.super-boton4 {
    background: linear-gradient(135deg, #e2dfe4,#d534db); /* Fondo con degradado */
    color: #fff; /* Color del texto en el botón (blanco) */
    border: none; /* Sin borde */
    border-radius: 50px; /* Esquinas muy redondeadas para un botón circular */
    padding: 20px 40px; /* Espaciado interno */
    font-size: 24px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Texto en mayúsculas */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: background-color 0.3s ease; /* Transición de color suave al pasar el ratón */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
  }
  
  .super-boton4:hover {
    background: linear-gradient(135deg, #dce1e2, #0dddba); /* Cambio de degradado al pasar el ratón */
  }

  /* Estilo para un botón aún más llamativo */
.super-boton5 {
    background: linear-gradient(135deg,#ec5050, #abe622); /* Fondo con degradado */
    color: #fff; /* Color del texto en el botón (blanco) */
    border: none; /* Sin borde */
    border-radius: 50px; /* Esquinas muy redondeadas para un botón circular */
    padding: 20px 40px; /* Espaciado interno */
    font-size: 24px; /* Tamaño de fuente grande */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Texto en mayúsculas */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    transition: background-color 0.3s ease; /* Transición de color suave al pasar el ratón */
    cursor: pointer; /* Cambio de cursor al pasar el ratón */
  }
  
  .super-boton5:hover {
    background: linear-gradient(135deg,#dce1e2, #0dddba); /* Cambio de degradado al pasar el ratón */
  }